#about {
    position: relative;
}

#about-container {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 480px;
    z-index: 2;
    opacity: 0.65;
}

#about-container > p:first-child {
     margin-bottom: 15px;
     text-align: center;
     font-size: 48px;
     letter-spacing: 14px;
     line-height: 110%;
     font-family: "Monserrat", sans-serif;
     font-weight: 700;
     color: #bbbab2;
 }

#about-container p, #about-container li {
    margin: 0 0 15px 0;
    font-family: "Trebuchet MS";
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 175%;
    color: white;
}

#about-container #hobby-list p {
    margin-bottom: 5px;
}

#about-container #hobby-list ul {
    margin: 0 0 30px 0;
    padding-left: 50px;
    float: left;
}

#about-container #hobby-list li {
    margin-bottom: 0;
}

#about-container ul:first-of-type {
    padding-right: 15px;
}

#about-container hr {
    display: block;
    clear: both;
    width: 85%;
    border-color: #e3ebf5;
}

#about-container #social-media {
    clear: both;
    width: 100%;
    text-align: center;
}

#about-container #social-media a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 15px 15px 0 15px;
    mask-size: cover;
    background-color: #e3ebf5;
    opacity: 0.70;
    transition: opacity 200ms;
}

#about-container #social-media a:hover {
    opacity: 1.0;
}

#about-container #social-media #linkedin {
    mask-image: url(../../../assets/images/about/linkedin_icon.svg);
}

#about-container #social-media #github {
    mask-image: url(../../../assets/images/about/github_icon.svg);
}

#about-container #social-media #twitter {
    mask-image: url(../../../assets/images/about/twitter_icon.svg);
}

#about-container #social-media #pinterest {
    mask-image: url(../../../assets/images/about/pinterest_icon.svg);
}

#about-container #social-media #email {
    mask-image: url(../../../assets/images/about/email_icon.svg);
}

#billiards-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 65%;
    background-image: url(../../../assets/images/about/billiards.png);
    background-size: cover;
}

@media (min-width: 1500px) {
    #about-container {
        top: 12%;
        width: 570px;
    }
    #about-container > p:first-child {
        font-size: 50px;
        letter-spacing: 17px;
    }
    #about-container p, #about-container li {
        font-size: 17px;
        margin: 0 0 18px 0;
        line-height: 185%;
    }
    #about-container ul:first-of-type {
        padding-right: 40px;
    }
    #about-container #hobby-list ul {
        padding-left: 60px;
    }
    #about-container #social-media a {
        width: 38px;
        height: 38px;
        margin: 15px 23px 0 23px;
    }
    #billiards-photo {
        width: 60%;
        height: 75%;
    }
}

@media (max-width: 1000px) {
    #about-container {
        top: 7%;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }
    #about-container > p:first-child {
        font-size: 60px;
        letter-spacing: 12px;
    }
    #about-container p:nth-child(3) {
        display: none;
    }
    #about-container p, #about-container li {
        margin: 0 0 18px 0;
        font-size: 18px;
        line-height: 160%;
    }
    #about-container #social-media a {
        width: 42px;
        height: 42px;
        margin: 15px 20px 0 20px;
    }
    #billiards-photo {
        height: 55%;
        width: 90%;
    }
}
