#about-me {
    position: absolute;
    top: 180px;
    left: 80px;
    color: white;
    width: 35%;
    font-size: 18px;
    line-height: 190%;
    padding-left: 35px;
    /*border-left: 2px solid rgba(255,255,255,0.4);*/
    opacity: 0.7;
    font-family: "Gill Sans MT";
    letter-spacing: 1px;
}

#about-me p {
    margin-top: 0;
}

#hobbies p {
    margin: 0;
}

#hobbies ul {
    float: left;
    margin: 0;
}

#about-me ul:first-of-type {
    margin-right: 20px;
}

#billiards-photo {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 65%;
    height: 70%;
    background-image: url(../../../assets/images/billiards_feathered.png);
    background-size: cover;
}