#home-bg {
    border: none;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/images/bridge_bg.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 16px rgba(0,0,0,0.8);
}

#scene {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#scene .layer {
    width: 100%;
    height: 100%;
    margin: 0;
}

#scene .layer p {
    position: absolute;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    letter-spacing: 10px;
    color: #E2DFD9;
    opacity: 0.7;
    text-align: center;
}

#environment-word {
    left: 7%;
    bottom: 21%;
}

#design-word {
    top: 47%;
    left: 20%;
    letter-spacing: 12px;
}

#education-word {
    top: 64%;
    width: 100%;
}

#coding-word {
    top: 47%;
    right: 20%;
    letter-spacing: 12px;
}

#innovation-word {
    right: 3%;
    bottom: 21%;
    letter-spacing: 8px;
}

#home-quotes blockquote {
    position: absolute;
    width: 250px;
    height: 100px;
    margin: 0;
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
}

#home-quotes q {
    display: inline-block;
    margin: 10px 10px 0 10px;
}

#home-quotes .quote-by {
    margin: 5px 10px 10px 10px;
    float: right;
}

#environment-quote {
    left: 8%;
    top: 58%;
}

#design-quote {
    top: 30%;
    left: 10%;
}

#education-quote {
    top: 10%;
    left: 55%;
    height: 80px;
}

#coding-quote {
     top: 45%;
     right: 12%;
     height: 65px;
}

#innovation-quote {
     bottom: 10%;
     left: 45%;
}

