#home-bg {
    border: none;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/images/stairs_bg.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 16px rgba(0,0,0,0.8);
}

#home-words p {
    position: absolute;
    margin: 0;
    letter-spacing: 10px;
    color: #E2DFD9;
    opacity: 0.7;
}

#home-quotes blockquote {
    position: absolute;
    width: 250px;
    height: 100px;
    margin: 0;
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
}

#home-quotes q {
    display: inline-block;
    margin: 10px 10px 0 10px;
}

#home-quotes .quote-by {
    margin: 5px 10px 10px 10px;
    float: right;
}

#environment-word {
    top: 76%;
    left: 15%;
}

#environment-quote {
    top: 58%;
    left: 8%;
}

#design-word {
    top: 53%;
    left: 31%;
    letter-spacing: 12px;
}

#design-quote {
    top: 30%;
    left: 10%;
}

#education-word {
    top: 33%;
    left: 43%;
}

#education-quote {
    top: 10%;
    left: 55%;
    height: 80px;
}

#coding-word {
    top: 58%;
    right: 31%;
    letter-spacing: 12px;
}

#coding-quote {
    top: 45%;
    right: 12%;
    height: 65px;
}

#entrepreneurship-word {
    top: 73%;
    right: 12%;
    letter-spacing: 8px;
}

#entrepreneurship-quote {
    bottom: 10%;
    left: 45%;
}
