#home-bg {
    border: none;
    width: 100%;
    height: 100%;
    /*background-image: url(../../../assets/images/bridge_bg.jpg);*/
    /*background-size: cover;*/
    /*background-position: center;*/
    box-shadow: 0 3px 16px rgba(0,0,0,0.8);
}

#scene {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#scene .layer {
    width: 100%;
    height: 100%;
    margin: 0;
}

#scene .layer #layer1 {
    position: absolute;
    bottom: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    background-image: url(../../../assets/images/bridge_bg_layers/layer_1.png);
    background-position: center;
    background-size: cover;
}

#scene .layer #layer2 {
    position: absolute;
    bottom: -2%;
    left: -1%;
    width: 105%;
    height: 105%;
    background-image: url(../../../assets/images/bridge_bg_layers/layer_2.png);
    background-position: center;
    background-size: cover;
}

#scene .layer #layer3 {
    position: absolute;
    bottom: -2%;
    left: -2%;
    width: 107%;
    height: 107%;
    background-image: url(../../../assets/images/bridge_bg_layers/layer_3.png);
    background-position: center;
    background-size: cover;
}

#scene .layer p {
    position: absolute;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    letter-spacing: 10px;
    color: #E2DFD9;
    text-align: center;
}

.layer p#environment-word {
    left: 10%;
    bottom: 23%;
    opacity: 0.7;
}

.layer p#design-word {
    top: 52%;
    left: 29%;
    letter-spacing: 12px;
    opacity: 0.6;
}

.layer p#education-word {
    top: 30%;
    width: 100%;
    opacity: 0.4;
}

.layer p#coding-word {
    top: 56%;
    right: 30%;
    letter-spacing: 12px;
    opacity: 0.6;
}

.layer p#innovation-word {
    right: 12%;
    bottom: 25%;
    letter-spacing: 8px;
    opacity: 0.7;
}

#home-quotes blockquote {
    position: absolute;
    width: 250px;
    height: 100px;
    margin: 0;
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
}

#home-quotes q {
    display: inline-block;
    margin: 10px 10px 0 10px;
}

#home-quotes .quote-by {
    margin: 5px 10px 10px 10px;
    float: right;
}

#environment-quote {
    left: 8%;
    top: 58%;
}

#design-quote {
    top: 30%;
    left: 10%;
}

#education-quote {
    top: 10%;
    left: 55%;
    height: 80px;
}

#coding-quote {
     top: 45%;
     right: 12%;
     height: 65px;
}

#innovation-quote {
     bottom: 10%;
     left: 45%;
}

