#mixitup-container {
    position: relative;
    top: 100px;
    width: 85%;
    left: 110px;
    color: white;
    z-index: 1;
}

#filter-menu button {
    display: inline-block;
    margin-right: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 2px;
    color: #E2DFD9;
    opacity: 0.8;
}

#mixitup-container hr {
    position: relative;
    float: none;
    margin: 20px 0 30px 0;
    width: 40%;
    opacity: 0.7;
}

.project {
    position: relative;
    float: left;
    width: 250px;
    height: 220px;
    margin-right: 22px;
    margin-bottom: 22px;
    background-color: #82735D;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    z-index: 2;
}

.label-container {
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    bottom: -100%;
    border-radius: 3px;
    opacity: 0;
    transition: all 500ms;
}

.project:hover .label-container {
    bottom: 0;
    opacity: 1;
}

.label-text {
    padding: 10px;
}

.label-text p {
    letter-spacing: 1px;
    line-height: 150%;
    margin: 0 0 10px 0;
    color: white;
}

#units-game {
    background-image: url(../../../assets/images/projects/thumbnails/units_game.png);
}

#battleship {
    background-image: url(../../../assets/images/projects/thumbnails/battleship.png);
}

#color-game {
    background-image: url(../../../assets/images/projects/thumbnails/color_game.png);
}

#football-sign {
    background-image: url(../../../assets/images/projects/thumbnails/football_sign.png);
}

#poker {
    background-image: url(../../../assets/images/projects/thumbnails/poker.png);
}
#richmond-pylon {
    background-image: url(../../../assets/images/projects/thumbnails/richmond_pylon.png);
}

#shopping-outlet {
    background-image: url(../../../assets/images/projects/thumbnails/shopping_outlet.png);
}

#tipster {
    background-image: url(../../../assets/images/projects/thumbnails/tipster.png);
}

#movie-viewer {
    background-image: url(../../../assets/images/projects/thumbnails/movie_viewer.png);
}

#yelp-clone {
    background-image: url(../../../assets/images/projects/thumbnails/yelp_clone.png);
}

#lightboxes {
    position: relative;
    width: 100%;
    height: 100%;
}

.lightbox {
    display: none;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.lightbox div {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    background-position: center;
}

.lightbox:target {
    display: block;
}

#units-game-demo div {
    background-image: url(../../../assets/images/projects/detailed/units_game.png);
    background-size: 60%;
}

#color-game-demo div {
    background-image: url(../../../assets/images/projects/detailed/color_game.png);
    background-size: 60%;
}

#tipster-demo div {
    background-image: url(../../../assets/images/projects/detailed/tipster.gif);
}

#movie-viewer-demo div {
    background-image: url(../../../assets/images/projects/detailed/movie_viewer.gif);
}

#yelp-clone-demo div {
    background-image: url(../../../assets/images/projects/detailed/yelp_clone.gif);
}
