body {
    margin: 0;
    background-color: #151717;
}

#navbar-bg {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 150px;
    height: 285px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
    filter: blur(5px);
}

#navbar {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 150px;
    height: 285px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
}

#navbar li {
    width: 100%;
    height: 95px;

}

#navbar a {
    display: inline-block;
    width: 100%;
    line-height: 95px;
    text-align: center;
    text-decoration: none;
    color: #C8C4B9;
}

#navbar #logo {
    font-size: 40px;
    color: #82735D;
}

section {
    width: 100%;
    height: 800px;
    background-color: steelblue;
}

#home {
    background-image: url(../assets/images/bridge-bg.jpeg);
    background-size: cover;
    background-position: center;
}

#about {
    margin: 120px 0;
}

footer {
    position: relative;
    width: 100%;
    height: 120px;
}

footer p {
    position: absolute;
    bottom: 0;
    margin: 15px 20px;
    color: #95989A;
    font-size: 14px;
}
